# Astro build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Env / secrets
.env
.env.production
.env.local

# OS
.DS_Store
Thumbs.db
