# Next.js
.next/
out/

# Dependencies
node_modules/
.pnp.*

# Build artifacts
build/
dist/

# Local env
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/
